<!doctype html>
<html lang="en">
  <head>
    <title>Chucks CD Tap List</title>

    <!-- Required meta tags as per https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
          >

    <link rel="stylesheet"
          type="text/css"
          href="menu_styling.css"
          />

    <!-- Toottip stuff -->
    <!-- TODO: wha? just a few lines above 4.0.0 CSS is imported. Doesn't Bootstrap require jquery, anyway? -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="tipped.js"></script>
    <link rel="stylesheet" type="text/css" href="tipped.css"/>

    <script>
      function refresh() {
        window.location.reload(true);
        }
    
      var aMinute = 60000;
      setTimeout(refresh, 5 * aMinute);
    </script>
    
    <script type="text/javascript">
      $(document).ready(function() {
        Tipped.create('.simple-tooltip', {skin: 'only default unless pay', position: 'topright' });
      });
    </script>
    
    <style>
      .uncertainBooziness{
        color: #a0a0a0;
        }
  
      .noGrowlersAvailable {
        color: #a0a0a0;
        }
  
      .oddPricing {
        color: #d8150f;
        }

      /* Pre-bootstrap tabling      
      table {
        border-collapse: collapse;
        width:100%;
        }
  
      th, td {
        padding: 7px 14px 7px 14px;
        }

      #tableHead {
        background-color:#a0a0a0;
        color:#101010;
        font-weight: bold;
        cursor: default;
        }

      table.sortable tr:nth-child(odd) td{
        background: #f5f5f5;
        }
      table.sortable tr:nth-child(even) td{
        background: #E0E0E0;
        }
      table.sortable tr:nth-child(odd) th{
        background: #f5f5f5;
        }
      table.sortable tr:nth-child(even) th{
        background: #E0E0E0;
        }
       */
      
      p {
        padding: 5px 10px 5px 10px;
        }
      
      body {
        margin:0px;
        padding:0px;
        font-family: sans-serif;
        }
     
      /* for fullpage BG image https://mdbootstrap.com/css/bootstrap-background-image/ */
      body, html {
        height: 100%;
      }
      .bg { 
        /* The image used */
        background-image: /*rgba(128, 0, 0, 0.9), */ url("background.png");
        /* Center and scale the image nicely */
        background-position: top 10% left 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: scroll;
      
        /* opacity: 0.1; */
        /* -webkit-filter: grayscale(100%) opacity(100%);  Chrome, Safari, Opera */
        /* filter: grayscale(100%) */ alpha(opacity=50); */

        /* Full height 
        height: 100%; */      
      }
      notBg {
        -webkit-filter: /* opacity(100%);  Chrome, Safari, Opera */
        /* filter: grayscale(100%) */ alpha(opacity=50); */
      }
      
    </style>
    <script src="sorttable.js"></script>
  </head>
  <body>

    
    <!-- Two div-wrapped (and Bootstrap CSS switches between them) variants of page title:
         1. first, for narrow screens < bootstrap md (ergo d-md-none class)
         2. second, for wider screens
      -->
    <div class="d-inline d-sm-inline d-md-none" >
      <h2 class="pageTitle" style="padding: 25px 10px 10px 20px">
        <nobr>
          <a href="https://chuckscd.wordpress.com/">
            <img src="logo.png" style="width: 40px; border: 0px solid black; height: auto; vertical-align: middle; margin: 0px 0px 8px 0px" />
          </a>
          Chucks CD Taps
        </nobr>
      </h2>
    </div>
    
    <div class="d-none d-md-inline">
      <h2 class="pageTitle" style="padding: 25px 10px 10px 20px">
        <nobr>
          <a href="https://chuckscd.wordpress.com/">
          <img src="logo.png"  style="width: 60px; height: auto; vertical-align: middle; margin: 0px 10px 10px 0px" />
          </a>
          Chucks CD Taplist
        </nobr>
      </h2>
    </div>

    
    <!-- for the full page BG image -->
   <div class="bg">  

    
    <table class="notBg table table-striped table-hover sortable">
      <caption style="display: none" >Taplist</caption>
      <thead NOT_id='tableHead' class="thead-light">
        <tr>
	  <th scope="col" class="text-left simple-tooltip d-none d-md-table-cell" title='Tap #'>#</th>
          <th scope="col" >Brewer</th>
	  <th scope="col" >Brew</th>
          <th scope="col" >Type</th>
	  <th scope="col" class="text-right">Pint</th>
	  <th scope="col" class="text-right d-none d-md-table-cell">Growler</th>
	  <th scope="col" class="text-right simple-tooltip d-none d-md-table-cell" title='Alcohol By Volume'>ABV</th>
	  <th scope="col" class="simple-tooltip d-none d-md-table-cell" title='Alcohol By Dollar (ABV/$Pint)'>AB$</th>
	  <th scope="col" class="text-right simple-tooltip d-none d-md-table-cell" title='Time keg was tapped'>Date</th>
        </tr>
      </thead>
      <tbody>
      {{#each this}}
        <tr>
	  <th scope="row" align='right' class="d-none d-md-table-cell">{{id}}</th>
          <td align='left'>{{brewery}}</td>
	  <td align='left'>{{beerName}}</td>
	  <td align='left' class='{{beerType}}'>{{beerType}}</td>
	  
          {{#if doublePricing}}
            <td align='right' class="oddPricing simple-tooltip" title="Probably a half pint, 8 oz.">${{pintPrice}}</td>
          {{else}}
            <td align='right'>${{pintPrice}}</td>                        
          {{/if}}
	  
          {{#if noGrowlersAvailable}}
            <td align='right' class="noGrowlersAvailable simple-tooltip d-none d-md-table-cell" title='Limited supply. No growlers please.'>${{growlerPrice}}</td>            
          {{else}}
            <td align='right' class="d-none d-md-table-cell">${{growlerPrice}}</td>                        
          {{/if}}

          <td align='right' class="d-none d-md-table-cell">{{alcoolVolume}}%</td>

          {{#if uncertainAlcoolPerDollar}}
            <td align='right' class="uncertainBooziness simple-tooltip d-none d-md-table-cell" style='text-align:left'
	        title='This could be wrong. Cannot be sure without growler pricing.'>{{onceOfAlcoolPerDollar}}</td>
          {{else}}
            <td aligh='right' class="d-none d-md-table-cell">{{onceOfAlcoolPerDollar}}</td>
          {{/if}}


          <td align='right' class="d-none d-md-table-cell">{{tapDateTime}}</td>

        </tr>
      {{/each}}
      </tbody>
    </table>
   </div>
   
    <!--
    <p>
      <span style='font-weight:bold'>Tech details:</span>
      on the server, this page is rebuilt every minute but once loaded in the
      browser this page self-refreshes every five minutes.
      It could self-refresh every minute but during refresh any
      column sorting is reset and that can get annoying while reading.
    </p>
    <p>
      Of course, you can manually reload at any time.
      Or for the very latest, just visit <a href='http://www.chuckscd.com/'>the real Chuck's CD website</a>,
      from which the data on this page is screen scraped.
    </p>
    -->

      <p>
        This page in recreated every five minutes. This page was create: {{nowDateTime}}
        v1.0.2 <!-- TODO: v%REACT_APP_VERSION% --> <a href="https://github.com/JohnTigue/brew_picker/issues/new">Suggestions?</a>
      </p>
  </body>
</html>
